<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Password Reset</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 </head>
<style>

 body{
  margin: 0!important;
  padding: 0!important;
  font-family: sans-serif!important;
  /* background-image: url(); */
  background-color: #e9ecef!important;
  /* background-size: cover; */
  background-position: center!important;
}

 </style>



  <body>
    <div class="alert alert-success mt-3" role="alert">
      <h4 class="alert-heading">Password Reset Link</h4>
      <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>      
      <hr>
      <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p> 
     </div>
</body>
  </html>