{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="ScriptsBundle">
	<title>MyQuery</title>
	<!-- =-=-=-=-=-=-= Favicons Icon =-=-=-=-=-=-= -->
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	<!-- =-=-=-=-=-=-= Mobile Specific =-=-=-=-=-=-= -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min-ar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lists.css'% }">
	<link rel="stylesheet" type="text/css" href="{% static 'css/more-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/prettyPhoto.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rtl.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/optionsframework.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/optionsframework-ar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/color.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/divider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/file.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/heading.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/image.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/image-select.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/note.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/oembed.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/plupload-image.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/range.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/rwmb-infocenter=style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/select.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/select-advanced.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/taxonomy.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/wysiwyg.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/jqueryui/jquery.ui.core.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/jqueryui/jquery.ui.datepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/jqueryui/jquery.ui.slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/jqueryui/jquery.ui.theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/jqueryui/jquery.ui.timepicker-addon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/meta-box/css/select2/select2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/vpanel_style/vpanel_style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/vpanel_style/vpanel_style_ar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-old/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/infotex-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/large.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/medium.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/tablet.css' %}">
	<!-- =-=-=-=-=-=-= Bootstrap CSS Style =-=-=-=-=-=-= -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- =-=-=-=-=-=-= Template CSS Style =-=-=-=-=-=-= -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- =-=-=-=-=-=-= Font Awesome =-=-=-=-=-=-= -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<!-- =-=-=-=-=-=-= Et Line Fonts =-=-=-=-=-=-= -->
	<link rel="stylesheet" href="{% static 'css/et-line-fonts.css' %}">
	<!-- =-=-=-=-=-=-= Google Fonts =-=-=-=-=-=-= -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
	<!-- =-=-=-=-=-=-= Owl carousel =-=-=-=-=-=-= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.style.css' %}">
	<!-- =-=-=-=-=-=-= Highliter Css =-=-=-=-=-=-= -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/styles/shCoreDefault.css' %}" />
    <!-- =-=-=-=-=-=-= Css Animation =-=-=-=-=-=-= -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <!-- =-=-=-=-=-=-= Hover Dropdown =-=-=-=-=-=-= -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-dropdownhover.min.css' %}" />
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- =-=-=-=-=-=-= PRELOADER =-=-=-=-=-=-= -->
	<!-- <div class="preloader"><span class="preloader-gif"></span>
	</div> -->
	<!-- =-=-=-=-=-=-= HEADER =-=-=-=-=-=-= -->
	<div class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">
				<ul class="top-nav nav-left">
					<li><a href="index.html">Home</a>
					</li>
					<li class=""><a href="blog.html">Blog</a>
					</li>
					<li  class=""><a href="contact.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-8">
				<ul class="top-nav nav-right">
					<li><a href="{% url 'myqueryapp:login' %}"><i class="fa fa-lock" aria-hidden="true"></i>Login</a>
					</li>
					<li><a href="{% url 'myqueryapp:register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Signup</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">
							
							<span class="hidden-xs small-padding">
								{% if user.is_authenticated %}
								{% if user.profile_pic %}
							<img class="img-circle resize" alt="" src="{{ user.profile_pic.url }}">
							{% endif %}
								<span>{{ user.username }}</span>
								{% endif %}
							 <i class="fa fa-caret-down"></i>
							</span>
						</a>
						<ul class="dropdown-menu ">
							<li><a href="profile.html"><i class=" icon-bargraph"></i> Dashboard</a></li>
							<li><a href="profile-setting.html"><i class=" icon-gears"></i> Profile Setting</a></li>
							<li><a href="question-list.html"><i class="icon-heart"></i> Questions</a></li>
							<li><a href="#"><i class="icon-lock"></i> Logout</a></li>
						</ul>
					 </li>
				</ul>
			</div>
		</div>
	</div>
</div>
	<!-- =-=-=-=-=-=-= HEADER Navigation =-=-=-=-=-=-= -->
	<div class="navbar navbar-default">
		<div class="container">
			<!-- header -->
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">	<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- logo -->
				<a href="index.html" class="navbar-brand">
					<img class="img-responsive" alt="" src="{% static 'images/logo1.jpeg' %}">
				</a>
				<!-- header end -->
			</div>
			<!-- navigation menu -->
			<div class="navbar-collapse collapse">
				<!-- right bar -->
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden-sm"><a href="how-work.html">How  It Works</a>
					</li>
					<li><a href="listing.html">Browse Questions</a>
					</li>
					<li class="dropdown"> <a class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Home </a>
							</li>
							<li><a href="index2.html">Home 2</a>
							</li>
							<li><a href="question-detial.html">Question Detail</a>
							</li>
							<li><a href="blog.html">Blog</a>
							</li>
							<li><a href="blog-1.html">Blog RightSide Bar</a>
							</li>
							<li><a href="blog-2.html">Blog LeftSide Bar</a>
							</li>
							<li><a href="blog-detial.html">Blog Single</a>
							</li>
							<li><a href="404.html">Error Page</a>
							</li>
							<li><a href="contact.html">Contact Us</a>
							</li>
							<li><a href="contact-2.html">Contact With Map</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="btn-nav"><a href="post-question.html" class="btn btn-primary btn-small navbar-btn">Post Question</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- navigation menu end -->
			<!--/.navbar-collapse -->
		</div>
	</div>
	<!-- HEADER Navigation End -->
	<!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
	<div class="full-section search-section">
		<div class="search-area container">
			<h3 class="search-title">Have a Question?</h3>
			<p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>
			<form autocomplete="off" method="get" class="search-form clearfix" id="search-form">
				<input type="text" title="* Please enter a search term!" placeholder="Type your search terms here" class="search-term " autocomplete="off">
				<input type="submit" value="Search" class="search-btn">
			</form>
		</div>
	</div>
	<!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->
	<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
	<div class="main-content-area">
		<!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
		<section class="white question-tabs padding-bottom-80" id="latest-post">
			<div class="container">
				<div class="row">
					<!-- Content Area Bar -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<!-- Tabs -->
								<ul class="nav panel-tabs">
									<li> <a data-toggle="tab" href="#tab1"><i class="icofont icon-ribbon"></i><span class="hidden-xs">Recent Questions</span></a>
									</li>
									<li> <a data-toggle="tab" href="#tab2"><i class="icofont icon-layers"></i><span class="hidden-xs">Popular Responses</span></a>
									</li>
									<li class="active"> <a data-toggle="tab" href="#tab3"><i class="icofont icon-global"></i><span class="hidden-xs">Recently Answered</span></a>
									</li>
									<li> <a data-toggle="tab" href="#tab4"><i class="icofont icon-linegraph"></i><span class="hidden-xs">No answers</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div id="tab1" class="tab-pane active">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="img-responsive center-block" src="images/authors/1.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">Php</a>  <a href="">recursive</a>  <a href="">error</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" correct img-responsive center-block" src="images/authors/2.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">rss-reader</a>  <a href="">web</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class="correct img-responsive center-block" src="images/authors/3.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">navbar</a>  <a href="">color</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class=" img-responsive center-block" src="images/authors/4.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">material</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab2" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="correct img-responsive center-block" src="images/authors/5.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>  <span><i class="fa fa-comment" aria-hidden="true"></i>50 Comment</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">Php</a>  <a href="">recursive</a>  <a href="">error</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" img-responsive center-block" src="images/authors/6.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">rss-reader</a>  <a href="">web</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class=" img-responsive center-block" src="images/authors/7.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">navbar</a>  <a href="">color</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class="correct img-responsive center-block" src="images/authors/8.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">material</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab3" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="correct img-responsive center-block" src="images/authors/9.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">Php</a>  <a href="">recursive</a>  <a href="">error</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class="correct img-responsive center-block" src="images/authors/10.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">rss-reader</a>  <a href="">web</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class="correct img-responsive center-block" src="images/authors/11.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">navbar</a>  <a href="">color</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class="correct img-responsive center-block" src="images/authors/12.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">material</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab4" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class=" img-responsive center-block" src="images/authors/5.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>  <span><i class="fa fa-comment" aria-hidden="true"></i>50 Comment</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">Php</a>  <a href="">recursive</a>  <a href="">error</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" img-responsive center-block" src="images/authors/3.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">rss-reader</a>  <a href="">web</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class=" img-responsive center-block" src="images/authors/7.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">navbar</a>  <a href="">color</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class=" img-responsive center-block" src="images/authors/12.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="">bootstrap</a>  <a href="">material</a>
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<!-- Pagination View More -->
								<div class="text-center clearfix">
									<button class="btn btn-primary btn-lg">View All Question</button>
								</div>
								<!-- Pagination View More End -->
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= SEPARATOR Fun Facts =-=-=-=-=-=-= -->
		<div class="parallex section-padding fun-facts-bg text-center" data-stellar-background-ratio="0.1">
			<div class="container">
				<div class="row">
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="356">
							<div class="facts-icons"> <span class="icon-trophy"></span>
							</div>
							<div class="fact"> <span class="percentfactor">356</span>
								<p>Happy Clients</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="126">
							<div class="facts-icons"> <span class="icon-trophy"></span>
							</div>
							<div class="fact"> <span class="percentfactor">126</span>
								<p>Order Received</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="274">
							<div class="facts-icons"> <span class="icon-chat"></span>
							</div>
							<div class="fact"> <span class="percentfactor">274</span>
								<p>Free Delivery</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="434">
							<div class="facts-icons"> <span class="icon-megaphone"></span>
							</div>
							<div class="fact"> <span class="percentfactor">434</span>
								<p>Completed Projects</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= SEPARATOR END =-=-=-=-=-=-= -->
		
		<!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= Testimonials =-=-=-=-=-=-= -->
		<section data-stellar-background-ratio="0.1" class="testimonial-bg parallex">
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- Blog Grid -->
					<div class="col-md-8 ">
						<div id="owl-slider" class="happy-client">
							<div class="item"> <i class="fa fa-quote-left"> </i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
								<div class="client-info-wrap clearfix">
									<div class="client-img">
										<img class="img-circle" src="http://theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" />
									</div>
									<div class="client-info"> <strong> Muhammad Umair </strong>  <i class="fa fa-star grey-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>
									</div>
								</div>
							</div>
							<div class="item"> <i class="fa fa-quote-left"> </i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
								<div class="client-info-wrap clearfix">
									<div class="client-img">
										<img class="img-circle" src="http://theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" />
									</div>
									<div class="client-info"> <strong> Muhammad Umair </strong>  <i class="fa fa-star grey-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<!-- Blog Grid -->
					<div class="col-md-4 no-padding">
						<div class="success-stories">
							<div class="main-heading text-center">
								<h2>Success Stories</h2>
								<hr class="main">
								<p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
									<br>eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
							</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<div class="clearfix"></div>
				</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Testimonials  =-=-=-=-=-=-= -->
		<br>
		<br>

		

	</div>
	
	<!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
	<footer class="footer-area">
		<!--Footer Upper-->
		<div class="footer-content">
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-8 col-md-offset-2">
						<div class="footer-content text-center no-padding margin-bottom-40">
							<div class="logo-footer">
								<img id="logo-footer" class="center-block" src="" alt="">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Lorem ipsum dolor sit amet, illo vel.</p>
						</div>
					</div>
					
		<!--Footer Bottom-->
		<div class="footer-copyright">
			<div class="auto-container clearfix">
				<!--Copyright-->
				<div class="copyright text-center">Copyright 2016 &copy; Theme Created By <a target="_blank" href="http://themeforest.net/user/scriptsbundle/portfolio">Scriptsbundle</a> All Rights Reserved</div>
			</div>
		</div>
	</footer>
	<!-- JavaScripts -->
	<script src="{% static 'js/modernizr.js' %}"></script>
	<!-- =-=-=-=-=-=-= JQUERY =-=-=-=-=-=-= -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Bootstrap Core Css  -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Jquery Smooth Scroll  -->
	<script src="{% static 'js/jquery.smoothscroll.js' %}"></script>
	<!-- Jquery Easing -->
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<!-- Jquery Counter -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- Jquery Waypoints -->
	<script src="{% static 'js/jquery.waypoints.js' %}"></script>
	<!-- Jquery Appear Plugin -->
	<script src="{% static 'js/jquery.appear.min.js' %}"></script>
	<!-- Carousel Slider  -->
	<script src="{% static 'js/carousel.min.js' %}"></script>
	<!-- Jquery Parallex -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!--Style Switcher -->
	<script src="{ % static 'js/bootstrap-dropdownhover.min.js' %}"></script>
	<!-- Include jQuery Syntax Highlighter -->
	<script type="text/javascript" src="{% static 'js/scripts/shCore.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scripts/shBrushPhp.js' %}"></script>
	<!-- Template Core JS -->
	<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
