{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
<div class="main-content-area">

	<!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
<section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-7 text-left">
                        <h1>My Questions Panel</h1>
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-5 text-right">
                        <div class="bread">
                            <ol class="breadcrumb">
                                <li><a href="{% url 'myqueryapp:index' %}">Home</a></li>
                                <li class="active">Profile</li>
                            </ol>
                        </div><!-- end bread -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->


  <!-- =-=-=-=-=-=-= User Profile =-=-=-=-=-=-= -->
    <section id="user-profile" class="user-profile parallex">
      <div class="container">
        <!-- Row -->
        <div class="row">

          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="profile-sec ">
              <div class="profile-head">
                <div class="col-md-6 col-xs-12 col-sm-6 no-padding">
                  <div class="profile-avatar">
                    <span><img class="img-responsive img-circle" alt="" src="{{ user.profile_pic.url }}"></span>
                    <div class="profile-name">
                      <h3 style="margin-top: 20px;">{{ user.username|capfirst }}</h3>
                      <i>{{ user.email }}</i>
                      <ul class="social-btns">
                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6 no-padding">
                  <ul class="profile-count">
                    <li>120<i>Questions</i>
					</li>
					<li>171<i>Answered</i>
                    </li>
                  </ul>
                  <!-- <ul class="profile-connect">
                    <li><a title="" href="#">Follow</a>
                    </li>
                    <li><a title="" href="#">Hire Me</a>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
            <!-- Profile Sec -->
          </div>

        </div>
        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= User Profile end =-=-=-=-=-=-= -->

     <!-- =-=-=-=-=-=-= User History =-=-=-=-=-=-= -->

    <section class="section-padding-80 white">

            <div class="container">

            <!-- Row -->
            <div class="row">



            <div class="col-md-12 col-xs-12 col-sm-12">
			<!-- Question Listing -->
			{% for obj in User_Question %}
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="img-responsive center-block" src="{{ obj.User.profile_pic.url }}">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="{% url 'questions:qd' pk=obj.pk %}"> {{ obj.Title }}</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ obj.Qcreated }}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>{{ obj.Details }}</p>
												<div class="pull-right tagcloud">
													{% for i in question.Tags.all %}
													<a href="">{{ i.Tag_name }}</a>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
									<!-- Question Listing End -->
</div>
</section>
            </div>


                                                </div>

                                                </div>

    </section>
    {% endblock %}