{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body_block %}
  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left">
            <h1>Create Account</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">SIgn Up</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Register Form =-=-=-=-=-=-= -->
    <section class="section-padding-80 white" id="register">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

            <div class="box-panel">

              <!-- buttons top -->
            <h3 style="color:black;text-align:center;">SIGN UP</h3>
              <!-- end buttons top -->
              {% if form.errors %}
                 <div style="color: black">{{ form.errors }}</div>
                 {% endif %}
              {% for message in messages %}
              <p style="color: black">{{ message }}</p>
              {% endfor %}
              <!-- form login -->
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>

              </form>
              <!-- form login -->
                 

            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Register Form End =-=-=-=-=-=-= -->
{% endblock%}
    